<div>
    <button class="create" class="btn btn-secondary" [routerLink]="['./add']">Add Bird</button>
</div>

<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Bird Name</th>
            <th scope="col">Bird Family</th>
            <th scope="col">Added On</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of this.birdResult">
                <th scope="row">{{res.id}}</th>
                <td>{{res.name}}</td>
                <td>{{res.family}}</td>
                <td>{{res.added_on}}</td>
                <td>
                    <a [routerLink]="['./view', res.id]">View</a><br/>
                    <a [routerLink]="" (click)="delete(res.id)">Delete</a>
                </td>
                
            </tr>
        </tbody>
      </table>