
<div class="row">
    <div class="col-md-2">
        <label class="font-weight-bold">Bird Name:</label>
    </div>
    <div class="col-md-4">
        <label>{{this.birdRes.BirdName}}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="font-weight-bold">Bird Family:</label>
    </div>
    <div class="col-md-4">
        <label>{{this.birdRes.BirdFamily}}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="font-weight-bold">Continents:</label>
    </div>
    <div class="col-md-4">
        <label>{{this.birdRes.Continents}}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="font-weight-bold">Added On:</label>
    </div>
    <div class="col-md-4">
        <label>{{this.birdRes.AddedOn}}</label>
    </div>
</div>