<h2>Form!!!!</h2>
<div style="margin-left: 2%">

    <div class="row">
        <div class="col-md-3">
            <input class="form-control" [(ngModel)]="birdname" type="text" placeholder="Bird Name" />
        </div>
        <div class="col-md-3">
            <input class="form-control" [(ngModel)]="familyname" type="text" placeholder="Family Name" />
        </div>
    </div>

    <!-- <div class="row">
    <div class="form-check" *ngFor="let country of this.continent;let i=index">
        <input type="checkbox" class="form-check-input" [(ngModel)]="contids" value="{{country.id}}" id="{{country.id}}">
        <label class="form-check-label" for="{{country.id}}">
            {{country.name}}
        </label>
    </div>
</div> -->
<div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="isvisible" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Visible
          </label>
        </div>
      </div>
    <!-- <div class="row" style="margin-left: 2%">
    <div >
        <input type="checkbox" class="custom-control-input"
            name="isvisible1">111
    </div>
</div> -->
    <div class="row">
        <button type="button" (click)="addBird()" class="btn btn-primary">Add</button>
    </div>
</div>